/* default css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* variabel custom css */
:root {
  --primary-color: #661c1c;
  --text-body: 50px;
  --bg-color: #6fc00b;
}
/* use varibel css */
.custom {
  color: var(--primary-color);
  font-size: var(--text-body);
  background-color: var(--bg-color);
  width: 80%;
}
p {
  font-size: 30px;
  color: blue;
}

/* Menggunakan ID dan class */
#home {
  margin-top: 100px;
  background-color: antiquewhite;
}
h2 {
  margin: 10px 10px;
  font-size: 40px;
}
.about-me {
  font-size: 20px;
  margin: 20px;
}
button {
  margin: 25px 20px;
  height: 30px;
}
/* selector makomplek */
section > p > span {
  font-weight: 700;
  color: rgb(137, 76, 26);
}
section > div:nth-child(2) {
  background-color: #6fc00b;
  width: 100px;
  height: 30px;
  margin: 30px 20px;
}
h1 ~ p {
  background-color: rgb(246, 194, 92);
}
/* selektor majemuk */
section#majemuk {
  background-color: aquamarine;
}

a[target='_blank'] {
  color: #fff;
  font-size: 20px;
}
h3.jdl {
  font-size: 60px;
  color: #fff;
}
/*  efek hover dengan menerapkan pseudo class */
section#majemuk button[type='button'] {
  background-color: rgb(209, 158, 39);
  transition: 0.3s;
}
section#majemuk button[type='button']:hover {
  background-color: #6fc00b;
}
